<header class="header">
  <div class="header-container container">
    <div class="menu">
      <a href="./index.html " class="logo"
        ><img src="./images/logo.png" alt="logo"
      /></a>

      <button type="button" class="header--open">
        <svg class="header__icon--open" width="40" height="40">
          <use href="./images/svg/sprite.svg#icon-open"></use>
        </svg>
      </button>
      <div class="mobile-menu">
        <button type="button" class="header--close">
          <svg class="header__icon--close" width="31" height="31">
            <use href="./images/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__item_link" href="./index.html">Главная</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__item_link" href="./index2.html">Кто мы</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__item_link" href="">Что мы делаем</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__item_link" href="">Проекты</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__item_link" href="">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script src="./js/mobile-menu.js"></script>
