<div class="backdrop is-hidden">
  <div class="modal">
    <form action="" class="modal-form">
      <h2 class="modal-form__title">
        Заполни эту форму и получи ответ в течении трёх дней
      </h2>
      <label class="modal-form__label modal-form__label-name">
        <input
          type="text"
          name="username"
          class="modal-form__input modal-form__input-name"
        />
      </label>
      <label class="modal-form__label modal-form__label-tel">
        <input
          type="tel"
          name="tel"
          class="modal-form__input modal-form__input-name"
        />
      </label>
      <label class="modal-form__label modal-form__label-email">
        <input
          type="email"
          name="email"
          class="modal-form__input modal-form__input-name"
        />
      </label>
      <label class="modal-form__label modal-form__label-problem">
        <textarea
          name="describe"
          rows="10"
          class="modal-form__input modal-form__input-name"
        ></textarea>
      </label>
      <label class="modal-form__chekbox">
        <input
          class="modal-form__chekbox-input"
          type="checkbox"
          name="hobby"
          value="music"
        />
        Согласен с правилами сотрудничества
      </label>
      <label class="modal-form__chekbox">
        <input
          class="modal-form__chekbox-input"
          type="checkbox"
          name="hobby"
          value="music"
        />
        Согласен получать новости по э-почте
      </label>
      <p class="modal-form__text">
        Мы используем ваши персональные данные, чтобы посредством настоящего
        веб-сайта информировать вас и лучшим образом представить наши услуги, а
        именно:
      </p>
      <button class="modal-form__button" type="submit">Оставить заявку</button>
    </form>
  </div>
</div>
