body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  color: #000000;

  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}
