$primary-title-color: #000;
$primary-text-color: #000;
$accent-color: #ffc158;
$primary-white-color: #ffffff;
$primary-btn-color: #ff8d3f;

$secondary-background-color: #f5f4fa;

$icon-color: #afb1b8;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$linear-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
