<div class="main">
  <section class="container hero">
    <h1 class="hero__title">У тебя есть проблема - у нас есть решение!</h1>

    <button class="hero__btn">Оставить заявку</button>
  </section>
  <section class="dialog-container container">
    <ul class="dialog-list">
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">
            Магазин отказывается вернуть деньги за некачественный товар?
          </p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">
            Работодатель не выплачивает заработную плату или производит
            удержания?
          </p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">Тебя без основания уволили?</p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">Кто-то не возвращает долг?</p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">Преподаватель неверно оценил Твою работу?</p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">Полиция Тебя оштрафовала?</p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">
            Ты столкнулся с другой юридической проблемой?
          </p>
        </div>
      </li>
      <li class="dialog-item">
        <div class="dialog-ellipse">
          <p class="dialog-text">
            Государственное учреждение не отвечает на заявку?
          </p>
        </div>
      </li>
    </ul>
    <div class="help-container container">
      <h2 class="help-title">Получи помощь полностью бесплатно за три шага!</h2>
      <ul class="help-list">
        <li class="help-item">
          <div class="help-item__block">
            <div class="help-item__step-block">
              <div class="help-item__step">
                <p class="help-item__step-text">1 ШАГ</p>
              </div>
              <picture>
                <source
                  srcset="./images/step1.png"
                  type="image/png"
                  media="(max-width: 768)"
                />
                <source
                  srcset="./images/step1@2.png"
                  type="image/png"
                  media="(max-width: 769)"
                />
                <img
                  class="help-item__img"
                  src="./images/step1@2.png"
                  alt="note"
                />
              </picture>
            </div>
            <div class="help-btn-block">
              <p class="help-item__text">
                Если Ты не хочешь тратить сотни и даже тысячи евро на
                консультацию адвоката, нажми здесь и заполни форму.
              </p>
              <button class="help-btn">Оставить заявку</button>
            </div>
          </div>
        </li>
        <li class="help-item">
          <div class="help-item__block">
            <div class="help-item__step-block">
              <div class="help-item__step">
                <p class="help-item__step-text">2 ШАГ</p>
              </div>
              <picture>
                <source
                  srcset="./images/step2.png"
                  type="image/png"
                  media="(max-width: 768)"
                />
                <source
                  srcset="./images/step2@2.png"
                  type="image/png"
                  media="(max-width: 769)"
                />
                <img src="./images/step2@2.png" alt="team" />
              </picture>
            </div>
            <p class="help-item__text">
              Наша команда рассмотрит предоставленную информацию в течение 3
              дней и сообщит о дальнейших действиях.
            </p>
          </div>
        </li>
        <li class="help-item">
          <div class="help-item__block">
            <div class="help-item__step-block">
              <div class="help-item__step">
                <p class="help-item__step-text">3 ШАГ</p>
              </div>
              <picture>
                <source
                  srcset="./images/step3.png"
                  type="image/png"
                  media="(max-width: 768)"
                />
                <source
                  srcset="./images/step3@2.png"
                  type="image/png"
                  media="(max-width: 769)"
                />
                <img src="./images/step3@2.png" alt="help" />
              </picture>
            </div>
            <p class="help-item__text">
              В тесном сотрудничестве с Тобой наша команда решает проблемную
              ситуацию.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="social-container container">
    <h2 class="social-title">Мы в социальных сетях</h2>
    <ul class="social-list">
      <li class="social-item">
        <a class="social-item-link" href="">
          <svg class="social-img" width="90" height="90">
            <use href="./images/svg/sprite.svg#instagram"></use>
          </svg>
          <p class="social-text">Instagram</p>
        </a>
      </li>
      <li class="social-item">
        <a class="social-item-link" href="">
          <svg class="social-img" width="90" height="90">
            <use href="./images/svg/sprite.svg#facebook"></use>
          </svg>
          <p class="social-text">FACEBOOK</p>
        </a>
      </li>
    </ul>
  </section>
</div>
