.logo {
  @include for-size(mobile-only) {
    position: absolute;
  }

  //   top: 0px;
  //   left: 0px;
  display: block;

  z-index: 2;
}

.header--open {
  position: absolute;
  top: 16;
  right: 12;

  background-color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    fill: #ffc158;
  }
  @include for-size(tablet) {
    display: none;
  }
}
