.menu {
  display: flex;
}
.mobile-menu {
  @include for-size(mobile-only) {
    background-color: $primary-white-color;
    background-image: url(../images/bacgroung_mob-menu_1.png),
      url(../images/bacgroung_mob-menu_2.png);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;

    position: fixed;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    // align-items: center;

    transform: translateX(100%);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include for-size(tablet) {
    margin-top: 30px;
    margin-left: auto;
  }
}
.mobile-menu.is-open {
  @include for-size(mobile-only) {
    transform: translateX(0);
  }
}

.mobile-menu__list {
  @include for-size(mobile-only) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 180;
  }

  display: flex;
}
.mobile-menu__item {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4;
  @include for-size(mobile-only) {
    display: block;

    text-align: left;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  @include for-size(tablet) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
.header--close {
  position: absolute;
  top: 11px;
  right: 7px;

  width: 62px;
  height: 62px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: fill 250ms $cubic-bezier, transform 250ms $cubic-bezier;

  &:hover {
    transform: scale(1.2);
    fill: $primary-white-color;
  }

  @include for-size(tablet) {
    display: none;
  }
}

.mobile-menu__item_link {
  display: block;
  color: $primary-text-color;

  transition: color 250ms $cubic-bezier, transform 250ms $cubic-bezier;

  &:hover {
    transform: scale(1.2);
    color: $primary-white-color;

    @include for-size(mobile-only) {
      color: $accent-color;
    }
  }
}
