.header-container {
  height: 85px;
}

.logo {
  @include for-size(mobile-only) {
    position: absolute;
  }

  //   top: 0px;
  //   left: 0px;
  display: block;

  z-index: 2;
}

.header--open {
  position: absolute;
  top: 16;
  right: 12;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 250ms $cubic-bezier;

  &:hover {
    transform: scale(1.2);
    fill: $primary-white-color;
  }
  @include for-size(tablet) {
    display: none;
  }
}
